*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-dark: rgb(13, 17, 19);
    --clr-light: #fff;
    --clr-accent: rgb(222, 52, 0);
    --clr-accent-dark: rgb(163, 38, 0);
    --clr-secondary: rgb(0, 62, 163);
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--clr-dark);
    color: var(--clr-light);
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    max-width: 100%;
}

.game {
    position: relative;
    width: 12.5em;
}

.streamers {
    display: flex;

    img {
        width: 2em;
        height: 2em;
        border-radius: 50%;
    }
}

.front {

    .name {
        margin: .75em 0;
    }

    .stats {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .streamers img {
        border: 1px solid var(--clr-dark);
    }
}

.back {
    display: none;
}