@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0652DD;
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 15px;
}


#container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20vh;
    padding: 5px;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 140px; */
}

img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}

.card {
    background-color: #fff;
    border: 1px solid #bacdd8;
    padding: 12px;
    border-radius: 12px;
}

.tag {
    padding: 6px 10px;
    border: 1px solid #e5eaed;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #788697;
}

.name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}

p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
    padding: 5px;
}

button {
    border: none;
    padding: 14px 24px;
    margin: 5;
    border-radius: 50px;
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.card__details {
    padding: 20px 10px 10px 10px;
}

button:focus,
button:hover {
    background-color: #0077ff;
    color: #e0efff;
}